{% extends 'base.html' %}
{% block content %}
<div class="page-header">
    <h1>Create Store</h1>
</div>
<div class="form-size">
    <form method="post">
        <div class="form-group">
            <label for="name">Store Name</label>
            <input type="text" id="name" name='name' class="form-control" placeholder="Store Name" value="{{ store.name }}">
        </div>
        <div class="form-group">
            <label for="url_prefix">Store URL prefix</label>
            <input type="text" id="url_prefix" name='url_prefix' class="form-control" placeholder="http://" value="{{ store.url_prefix }}" aria-describedby="storeURLPrefixHelp">
            <span id="storeURLPrefixHelp" class="help-block">
                What URL Prefix
            </span>
        </div>
        <div class="form-group">
            <label for="tag_name">Tag name</label>
            <input type="text" id="tag_name" name='tag_name' class="form-control" placeholder="span" value="{{ store.tag_name }}" aria-describedby="storeTagNameHelp">
            <span id="storeTagNameHelp" class="help-block">
                What HTML TAG usually <code>span</code>
            </span>
        </div>
        <div class="form-group">
            <label for="query">Search Query</label>
            <input type="text" id="query" class="form-control" name="query" placeholder='{"id": "price-now"}' value="{{ store.query }}" aria-describedby="storeQueryHelp">
            <span id="storeQueryHelp" class="help-block">
                무조건 쌍 quote를 사용해야 함.
            </span>
        </div>
        <button type='submit' class="btn btn-default">Edit</button>
    </form>
</div>
{% endblock %}